@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/* :root {
	--c-main: #1f1c23;
	--c-main-content: hsl(273, 13%, 16%);
	--c-perl: #f1faee;
	--c-text-base: #f1faee;
	--c-front: #e63946;
	--c-front-dark: hsl(355, 63%, 35%);
	--gap-content: 0.5em;
}

body[data-theme='light'] {
	--c-main: #ffffff;
	--c-main-content: #ececec;
	--c-perl: #f1faee;
	--c-text-base: #252525;
	--c-front: #e63946;
	--c-front-dark: hsl(302, 63%, 35%);
	--gap-content: 0.5em;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	/* scroll-behavior: smooth; */
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--c-main-content);
	color: var(--c-text-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
}

button {
	font-family: inherit;
}

button,
a {
	font-size: 1rem;
	padding: 1px 6px;
}

/* a {
	color: rgb(97, 216, 255);
	text-decoration: none;
} */

/* .smooth {
	scroll-behavior: auto;
} */

.content {
	padding-left: var(--gap-content);
	padding-right: var(--gap-content);
}

@media (min-width: 576px) {
	.content {
		--gap-content: 2em;
	}
}
